* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: orange;
    margin: 0;
}

.hello {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hello h1 {
    color: white;
    font-family: Tahoma;
    font-size: 40px;
    font-weight: bold;
    background-color: yellowgreen;
}

.hello p {
    width: 250px;
    color: white;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}